<div class='main'>
  <h2 class='subtitle'>Our agents</h2>
  <div class='agents-container'>
    {{#each agents}}
      <div class='agent-card'>
        <div class='agent-img'>
          <img src={{this.image}} alt={{this.name}} />
        </div>
        <div class='agent-content'>
          <h3>{{this.name}}</h3>
          <p class='description'>{{this.description}}</p>
          <a href='tel:{{this.phone}}' class='phone-number'>{{this.phone}}</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>