{{#each articles}}
  <h2>{{this.title}}</h2>
  <img src={{this.image}} />
{{/each}}

<div class='main'>
  <h2 class='subtitle'>Our articles</h2>
  <div class='container-articles'>
    <div class='article-card'>
      <img src='./assets/ghana.jpg' alt='city' />
      <div class='article-content'>
        <h3>
          Article title
        </h3>
        <p class='description'>Description</p>
        <div class='container-button'>
          <a href='{{url}}/blog/{{id}}'>Read more</a>
        </div>
      </div>
    </div>
    <div class='article-card'>
      <img src='./assets/ghana.jpg' alt='city' />
      <div class='article-content'>
        <h3>
          Article title
        </h3>
        <p class='description'>Description</p>
        <div class='container-button'>
          <a href='{{url}}/blog/{{id}}'>Read more</a>
        </div>
      </div>
    </div>
    <div class='article-card'>
      <img src='./assets/ghana.jpg' alt='city' />
      <div class='article-content'>
        <h3>
          Article title
        </h3>
        <p class='description'>Description</p>
        <div class='container-button'>
          <a href='{{url}}/blog/{{id}}'>Read more</a>
        </div>
      </div>
    </div>
    <div class='article-card'>
      <img src='./assets/ghana.jpg' alt='city' />
      <div class='article-content'>
        <h3>
          Article title
        </h3>
        <p class='description'>Description</p>
        <div class='container-button'>
          <a href='{{url}}/blog/{{id}}'>Read more</a>
        </div>
      </div>
    </div>
    <div class='article-card'>
      <img src='./assets/ghana.jpg' alt='city' />
      <div class='article-content'>
        <h3>
          Article title
        </h3>
        <p class='description'>Description</p>
        <div class='container-button'>
          <a href='{{url}}/blog/{{id}}'>Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>