<div class='main'>
  <h2 class='subtitle'>Our articles</h2>
  <div class='container-articles'>
    {{#each articles}}
      <div class='article-card'>
        <img src={{this.image}} alt={{this.title}} />
        <div class='article-content'>
          <h3>
            {{this.title}}
          </h3>
          <p class='description'>{{this.description}}</p>
          <div class='container-button'>
            <a href='{{url}}/blog/{{id}}'>Read more</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>