<div class='containerTitle'>
  <h1>Blog</h1>
  <p class='addArticle'>Ajouter</p>
</div>
<div class='modalAddAgent'>
  <div class='modal-content'>
    <div class='container-close'>
      <span class='close-modalAccount'>&times;</span>
    </div>
    <form action='/user/edit' method='POST'>
      <div class='form-group'>
        <label>Ajouter un article</label>
        <textarea
          name='description'
          id='description'
          placeholder='Description'
        ></textarea>
        <input type='text' name='title' id='title' placeholder='Titre' />
        <input type='number' name='price' id='price' placeholder='Prix' />
        <input
          type='url'
          name='image'
          id='image'
          placeholder='Lien vers une image'
        />
      </div>
      <div class='form-group'>
        <button type='submit'>Ajouter</button>
      </div>
    </form>
  </div>
</div>
<div class='modalUpdateAgent modalUpdateBlog'>
  <div class='modal-content'>
    <div class='container-close'>
      <span class='close-modalUpdateBlog'>&times;</span>
    </div>
    <form action='/blog/update' method='POST' id='updateBlogForm'>
      <div class='form-group'>
        <label>Modifier un article</label>
        <textarea
          name='description'
          id='descriptionForm'
          placeholder='Description'
        ></textarea>
        <input type='text' name='title' id='titleForm' placeholder='Titre' />
        <input
          type='url'
          name='image'
          id='imageForm'
          placeholder='Lien vers une image'
        />
      </div>
      <div class='form-group'>
        <button type='submit'>Modifier</button>
      </div>
    </form>
  </div>
</div>
<div class='container-articles'>
  {{#each articles}}
    <div class='article-card'>
      <div class='container-deleteBlog'>
        <p class='openUpdateModal openUpdateBlog'>&#9998;</p>
        <a href='/blog/delete/{{this.id}}'>&times;</a>
      </div>
      <img src={{this.image}} alt={{this.title}} class='imgBlog' />
      <div class='article-content'>
        <h3 class='titleBlog'>
          {{this.title}}
        </h3>
        <p class='description'>{{this.description}}</p>
        <div class='container-button'>
          <a href='{{url}}/blog/{{id}}'>Lire plus</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<script defer src='../js/updateBlog.js'></script>