<div class='main'>
  <h2 class='subtitle'>We are available in different cities across the globe</h2>
  <div class='city-container'>
    {{#each cities}}
      <div class='city-card'>
        <div class='city-card-image'>
          <img src={{this.image}} alt={{this.name}} />
        </div>
        <div class='city-card-content'>
          <h3>{{this.name}}, <span class='country'>{{this.country}}</span></h3>
          <a href='{{url}}/properties'>Explore</a>
        </div>
      </div>
    {{/each}}
  </div>
  <h2 class='subtitle'>Why you should choose us.</h2>
  <div class='explanation-container'>
    <div class='explanation-left'>
      <img src='./assets/ghana.jpg' alt='city' />
    </div>
    <div class='explanation-right'>
      <p class='subtext'>
        Creating quality urban lifestyles, building stronger communities and
        creating a safe haven for the general populace is what we do, we give
        affordabel house for sell, rent and also lease great propertities for
        any kind of usage.
      </p>
      <p class='subtext'>
        We give premium offers to all our client and our customer service is top
        notch.
      </p>
      <div class='check-container'>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>World class</p>
        </div>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>Trusted</p>
        </div>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>Affordable</p>
        </div>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>Amenities</p>
        </div>
      </div>
    </div>
  </div>
  <div class='title-container'>
    <h3 class='shop-title'>Recently added</h3>
    <a href='{{url}}/properties'>See all</a>
  </div>
  <div class='container-properties'>
    {{#each estates}}
      <div class='card-property'>
        <img src={{this.image}} alt={{this.description}} />
        <div class='property-content'>
          <h5>
            {{this.address}}
          </h5>
          <p class='description'>{{this.description}}</p>
          <div class='information-content'>
            <p>{{this.city}}</p>
            <p class='button-text'>${{this.price}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>