<div class='main'>
  <h2 class='subtitle'>Nous sommes présents dans différentes villes du monde</h2>
  <div class='city-container'>
    {{#each cities}}
      <div class='city-card'>
        <div class='city-card-image'>
          <img src={{this.image}} alt={{this.name}} />
        </div>
        <div class='city-card-content'>
          <h3>{{this.name}}, <span class='country'>{{this.country}}</span></h3>
          <a href='{{url}}/properties'>Découvrir</a>
        </div>
      </div>
    {{/each}}
  </div>
  <h2 class='subtitle'>Pourquoi nous choisir ?</h2>
  <div class='explanation-container'>
    <div class='explanation-left'>
      <img src='./assets/ghana.jpg' alt='city' />
    </div>
    <div class='explanation-right'>
      <p class='subtext'>
        Nous créons des modes de vie urbains de qualité, nous renforçons les
        communautés et nous créons un havre de paix pour la population en
        général. créer un havre de paix pour la population en général, c'est ce
        que nous faisons. des maisons à prix abordable à vendre, à louer et
        aussi des propriétés pour pour tout type d'utilisation.
      </p>
      <p class='subtext'>
        ce clientèle est de premier ordre. de qualité.
      </p>
      <div class='check-container'>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>Classe mondiale</p>
        </div>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>Confiance</p>
        </div>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>Abordable</p>
        </div>
        <div class='check'>
          <img src='./assets/check.png' alt='check' />
          <p>Aménagements</p>
        </div>
      </div>
    </div>
  </div>
  <div class='title-container'>
    <h3 class='shop-title'>Récemment ajouté</h3>
    <a href='{{url}}/properties'>Voir tous</a>
  </div>
  <div class='container-properties'>
    {{#each estates}}
      <div class='card-property'>
        <img src={{this.image}} alt={{this.description}} />
        <div class='property-content'>
          <h5>
            {{this.address}}
          </h5>
          <p class='description'>{{this.description}}</p>
          <div class='information-content'>
            <p>{{this.city}}</p>
            <p class='button-text'>${{this.price}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>